
menu {padding:10px 325px 10px 325px }
menu > ul{display:inline-block; width:350px; height:350px; list-style:none; position:relative; }
menu > ul > li {display:block; position:absolute; width:80px; height:80px; background-color: #17a2b8; border-radius:50%; 
    -moz-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    transform:rotate(0deg);
}
menu > ul > li > a {display:block; width:78px; height:80px; color:#FFFFFF; text-align:center; font-size:30px; line-height:2.6; text-decoration:none;}
menu > ul > li > a:hover{color:#000; }
a:active, a:focus, a:visited {outline:0; }
menu > ul > li:nth-child(1){left:0px; top:70px; text-align: center;}
menu > ul > li:nth-child(2){right:0; top:70px; text-align: center; }
menu > ul > li:nth-child(3){right:135px; top:0; text-align: center;}
menu > ul > li:nth-child(4){left:135px; bottom:0; text-align: center;}
menu > ul > li:nth-child(5){left:0; bottom:70px; text-align: center;}
menu > ul > li:nth-child(6){right:0; bottom:70px; text-align: center;}
menu > ul > li:nth-child(7){left:120px; top:115px; height:110px; width:110px; border:none; padding:15px; text-align: center; font-size:80px;}



